#package files
restClient.txt
package-lock.json
devices.txt

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# lambda directories
pkg
/lambda/package-lock.json
/lambda/node_modules
